.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.preview-area {
  flex: 1;
  background: #505c66;
  padding: 40px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
