.mini-badge {
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
}

.db-badge {
  width: 100%;
  padding: 8px 0;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 4px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
